.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: url("pic.jpg");
}
nav {
  border: red;
  border-bottom-left-radius: 2rem;
  padding: 1rem;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 1rem;
}
.BP {
  max-width: 120%;
}
